<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sga-background-workers.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/984ec1e7-02a1-4f94-abb3-9ff6147904ac/resourceGroups/swa-sga-nextjs/providers/Microsoft.Web/sites/sga-background-workers</ResourceId>
    <UserName>$sga-background-workers</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://sga-background-workers.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>